*{
  margin: 0;
  padding: 0;
}
ul,li{
  list-style: none;
}
a{
text-decoration: none;
color:#333;

}

body{
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  background-image: url(../img/bg_img.png);
 
} 
#cursor{
width: 100px;
height: 60px;
position: absolute;
z-index: 9999;
pointer-events: none;
transition: all 0.05s ease-in-out;
background-size: 100%;
}